.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  height: 150px;
}

.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: larger;
  font-weight: bold;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 200px;
  height: 300px;
  padding: 5px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
